li { list-style-type: square }

* { font-family: Tahoma }

p { text-align: justify }

#cena{
    color: red;
    font-weight: bold;
}

.wstep{
    font-style: italic;
}

td img{
    border-style: solid;
    border-color: blue;
    
}
td img:hover{
    border-color: red;
}

h1+h2{
    letter-spacing: 5px;
}

[colspan="2"]{
    font-size: small;
}

p+p{
    color: grey;
}
body{
    background-image: url(Books-2.png); background-repeat: repeat-y;
    margin: 5em 10em 5em 15em;
}
h1 { color: blue }
h1 { color: green }